<div style="margin-top: 80px" class="container-fluid">
  <div class="row p-5">
    <div class="col-sm-12 col-md-6 d-flex align-items-center">
      <div class="d-flex flex-column">
        <h1 class="">Encontra lo que necesitas para estudiar!</h1>
        <div class="d-flex input-group my-3">
          <input
            placeholder="Buscar libro por titulo, autor, etc... "
            type="text"
            class="form-control"
            id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04"
            aria-label="Upload"
          />

          <button
            style="background-color: #7f0000 !important"
            type="button"
            class="btn btn-outline-light"
          >
            <i class="material-icons">search</i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <img class="img-fluid" src="../../../assets/images/home-bg.jpg" alt="" />
    </div>
  </div>
</div>

<app-contact class="p-5"></app-contact>
